[tool.poetry]
name = "ovld"
version = "0.1.1"
description = "Overloading Python functions"
authors = ["Olivier Breuleux <breuleux@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
black = "^19.10b0"
pytest = "^6.0.1"
flake8 = "^3.8.3"
pytest-cov = "^2.10.0"

[tool.black]
line-length = 80

[tool.isort]
known_first_party = "ovld"
known_third_party = ""
multi_line_output = 3
include_trailing_comma = true
combine_as_imports = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
